<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Zbrojovka online{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-secondary">
{% block header %}
{% include 'page/header.html' %}
{% endblock %}
{% block navbar %}
{% include 'page/navbar.html' %}
{% endblock %}
<main class="bg-dark">
    {% block content %}{% endblock %}
</main>
{% block footer %}
{% include 'page/footer.html' %}
{% endblock %}
<script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'bootstrap/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>