{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-3 bg-light mt-3 mb-3 mh-100">
        <h2 class="bg-secondary text-light text-center p-3">Přehled typů:</h2>
        <ul class="list-group">
            {% for type in types %}
            {% if type.name == nadpis %}
            <li class="list-group-item active bg-warning">{{ type.name }}
                <span class="badge badge-warning">{{ type.gun_set.count }}</span></li>
            {% else %}
            <li class="list-group-item"><a href="#">{{ type.name }}</a>
                <span class="badge badge-warning">{{ type.gun_set.count }}</span></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="container col-lg-9">
        <div class="m-3">
            <h2 class="text-center bg-warning p-3">{{ nadpis }}</h2>
            <div class="row">
                {% for gun in guns %}
                <div class="col-sm-6 col-lg-6 mb-1 mt-1">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ gun.name }}</h4>
                            <p>{{ gun.description|truncatewords:30 }}</p>
                            <p><strong>Hodnocení:</strong> {{ gun.rate }}</p>
                            <a href="{% url 'gun_detail' gun.pk %}" class="btn btn-primary">Podrobnosti</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}